# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Benjamin CHAINTREUIL\Workspace\L3-MIAGE\ASR\TP4\.idea/dataSources/
/dataSources.local.xml
